.container img {
 width: 100%;
 overflow: hidden;

  margin-top: 0.5rem;
}

.container img:hover {
  border: 1px solid #525350;
}

.container p {
  color: #fff;

  margin-right: 0.18rem;

  height: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 1s;
}